body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1698749039505-63b2bd057477?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}
.cover-container {
  max-width: 60vw;
}

.nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}
